*{
	padding: 0;
	margin: 0;
	font-family: Inter, sans-serif;
	font-size: 16px;
    font-weight: 400px;
	box-sizing: border-box;
	color: #3D3D3D;
    border: none;
    word-wrap: break-word;
}
::selection {
	color: #ffffff;
	background: rgb(20, 51, 251);
}
:focus{
    outline: none;
}
/* *typography */
.text-bold{
    font-weight: bold;
}
.text-light{
    font-weight: 300;
}
.text-xl{
    font-size: 2rem;
}
.text-l{
    font-size: 1.563rem;
}
.text-rll{
    font-size: 1.3rem;
}
.text-rl{
    font-size: 1.2rem;
}
.text-r{
    font-size: 1rem;
}
.text-s{
    font-size: 0.8rem;
}
.text-xs{
    font-size: 0.5rem;
}
.text-center{
    text-align: center;
}
.text-left{
    text-align: left;
}
/* *layout */
body{
	margin-top: 7.80vh;
	margin-right: 8.4vw;
    margin-left: 8.4vw;
}
.mt-xxs{
    margin-top: 0.2em;
}
.mt-xs{
    margin-top: 0.8em;
}
.mt-s{
    margin-top: 1em;
}
.mt-ssr{
    margin-top: 1.2em;
}
.mt-sr{
    margin-top: 1.5em;
}
.mt-srr{
    margin-top: 1.8em;
}
.mt-r{
    margin-top: 2em;
}
.mt-l{
    margin-top: 3em;
}
.mt-xl{
    margin-top: 4em;
}
.mt-xxl{
    margin-top: 5em;
}
.mt-xxxl{
    margin-top: 6em;
}

/* *design */
.bg-gradient{
	background: linear-gradient(120deg, #7747FD 0%, #7946FC 20%, #F800C1 110%);
}
.bg-purple{
    background: #7747FD;
}
.bg-white{
    background: white;
}
.bg-black{
    background: black;
}
.bg-transparent{
    background: transparent;
}
.rounded-corner-xs{
    border-radius: 0.9rem;
}
.rounded-corner-s{
    border-radius: 1.2rem;
}
.rounded-corenr-l{
    border-radius: 5rem;
}
.flex-h{
    display: flex;
}
.flex-v{
    display: flex;
    flex-direction: column;
}
.grid{
    display: grid;
}
.width-100{
    width: 100%;
}
.text-white{
    color: white;
}
.text-grey{
    color: #3D3D3D;
}
.text-black{
    color: black;
}
.text-purple{
    color: #7747FD;
}
.align-items-top{
    align-items: top;
}
.align-items-center{
    align-items: center;
}
.horizontal-align{
    margin: auto;
}
.align-self-left{
    align-self: left;
}
.margin-h-auto{
    margin-right: auto;
    margin-left: auto;
}
.justify-content-sb{
    justify-content: space-between;
}
.justify-content-center{
    justify-content: center;
}
.input-container-1{
	position: relative;
	display: inline-block;
}
.input-container-1 label{
    position: absolute;
	top: 50%;
	left: 13px;
	transform: translateY(-50%);
	pointer-events: none;
}
.input-container-1 input{
    padding: 10px 44px 10px 102px;
	height: 52px;
	border: 3px solid #7747FD;
	border-radius: 17px;
}
.input-container-2 input{
    padding: 10px 14px;
	height: 52px;
	border: 3px solid #7747FD;
	border-radius: 17px;
}
.input-container-2 input::placeholder{
    color: #7747FD;
}
.input-container-2 textarea{
    padding: 10px 12px;
    height: 192px;
	border: 3px solid #7747FD;
	border-radius: 17px;
}
.input-container-2 textarea::placeholder{
    color: #7747FD;
}
.purple-btn{
    width: 207px;
	height: 49px;
	box-shadow: 2px 2px 22px 0px rgba(0, 0, 0, 0.15);
	transition: opacity 0.1s;
}
.purple-btn:hover{
	opacity: 0.8;
}
.purple:active{
	opacity: 0.6;
}
.purple-list-box{
	max-height: 440px;
	min-height: 440px;
	overflow: auto;
}
.purple-list-box li{
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 52px;
	width: 94%;
	background: #7747FD;
	border-radius: 17px;
	border: 3px solid #FFF;
	box-shadow: 6px 7px 0px 0px #7747FD;
	
	padding: 10px 20px 10px 22px;
    margin: 0 auto 14px auto;
}
.rule{
	border-radius: 11px;
	height: 4px;
}
.fa-gradient {
	background-clip: border-box; /* Standard property */
	background: -webkit-gradient(linear, left top, right bottom, from(#7747FD), to(#F800C1));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.clear-icon {
	position: absolute;
	top: 50%;
	right: 13px;
	transform: translateY(-50%);
	cursor: pointer;
	display: none;
	font-size: 1.5em;
}

/* *general */
.navbar{
	position: absolute;
	bottom: 0;
    left: 0;
	height: 123px;
	justify-content: space-evenly;
}
.nav-icon-btn{
	width: 50px;
	height: 50px;
	border-radius: 8px;
	font-size: 1.7em;
}
.nav-icon-btn:active{
	background: lightgray;
}