.podium-wrap{
	margin-top: 30px;
	margin-bottom: 24px;
	min-height: 300px;
	max-height: 300px;
	display: grid;
	column-gap: 30px;
	row-gap: 11px;
	justify-items: center;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 14px;
}
.podium-box{
	display: flex;
	max-height: 100%;
	min-height: 10%;
	justify-content: center;
	align-items: center;
	justify-self: center;
	align-self: flex-end;
	width: 88px;
	background: #7747FD;
	border-radius: 8px;
	color: #FFF;
	font-size: 24px;
	font-weight: 700;
}
.podium-text{
	width: 70px;
	height: 18px;
	color: #000;
	text-align: center;
	font-size: 14px;
	font-weight: 700;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	cursor: default;
}
.podium-for-45{
	border-radius: 8px;
	background: #7747FD;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px 30px 10px 18px;
	height: 60px;
}
.p45{
	display: flex;
	align-items: center;
	gap: 20px;
}
.circle{
	width: 42px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
}

